# Build output directory
build/
backup/
cmake-build-debug/
managed_components/

# SDK configuration files
sdkconfig
sdkconfig.old

# IDE settings (optional)
.vscode/

# Log files
*.log

# Temporary files
*.tmp
*.swp